:markdown
  ## About the **French House**
  1. 20 students
  2. Omnivorous dinners Sunday-Thursday

  ### ICC
  The [Inter-Coöperative Council][ICC website], is the place to which we pay rent.

  ### History

  Founded during the Great Depression to provide cheaper living arrangements for students at the
  nearby University of Texas at Austin, The French House Student Cooperative was originally called
  "Live Here We're Cheap". Originally the Annex in the back was a stable for horses that kids
  rode to school.

  [ICC website]: http://www.iccaustin.coop
