:markdown
  French House is **located** at

      710 W 21st St
      Austin, TX 78705

  **emails** should be sent to the [membership officer]()

  There is no house telephone, because it is no longer **1983**.
