:markdown
  ## Join French House
  To join the French House, you should apply to [ICC][ICC website]

  You may want to take a tour, for that contact our [membership officer]().

  You should come to dinner or be telepresent at dinner via Skype.

  [ICC website]: http://www.iccaustin.coop
