= simple_form_for @task,
  url: labor_tasks_path(params[:id]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :description, label: 'Add Task to Labor'

  .form-actions
    = f.button :submit, 'Add Task'
